@charset "UTF-8";

* {
    box-sizing: border-box;
}

html, body{
    background-color: white;
    max-height: 100%;
    height: 100%;
}
.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-content{
    padding: 3% 7%;
}

.login {
    text-transform: uppercase;
    padding-left: 15%;
}

.form-group{
   padding: 5px 15px;
}
.btn-container{
    display:flex;
    flex-direction: column;
    align-items:center;
}
.btn-container a{
    padding-top: 10px;
}

.navbar{
    margin: 0;
}
.navbar-brand img{
    margin-right:5px;
}
.abstand-rechts {
  margin-right: 30px; 
}
.user p{
    line-height: 90px;
    font-size: 16px;
}
.input-group{
    margin: 5% 0;
}

.table tbody tr p{
    word-wrap:break-word;
    margin: 10px;
}
.table thead p{
    line-height: 40px;
}
.table thead p:nth-child(1){
    float:right;
}
.table{
    background-color:#f9f9f9;
}
.chronik{
    margin-top: 40px;
}

.well{
    background-color: white;
}



/*
    Timeline
*/

.timeline-container-content {
    display: flex;
    flex-direction: column;
    max-height: calc(100% - 51px); /* 51 => height of navbar */
    height: calc(100% - 51px);
    position: relative;
}

.timeline-container {
    height: 100%;
    max-height: 100%;
}

#userS {

    width: 120px;
}

#suchleiste {
    width: 170px;
    margin-left: 130%
}



th, td {
    padding: 5px;
}

table tr:nth-child(even) {
    background-color: #eee;
}
table tr:nth-child(odd) {
   background-color:#fff;
}

table th {
    background-color: lightsteelblue;
    color: black;
}

.row{
    margin-left: 50px;
    margin-top: 10px;
    font-weight:bold;
    font-size: medium;

}

.col{


}