<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Handling Form Submission</title>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- The above 3 meta tags *must* come first in the head -->
	<link th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
		rel="stylesheet" media="screen" />
</head>
<body>

	<div class="container">
		<div class="panel panel-primary">
			<div class="panel-heading">
			
				<h1>Form</h1>
				
			</div>				
			<div class="panel-body">
			
			    <form action="#" th:action="@{/greeting}" th:object="${greeting}" method="post">
			    	<p>Id: <input type="text" th:field="*{id}" /></p>
			        <p>Message: <input type="text" th:field="*{content}" /></p>
			        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
			    </form>
			    
			</div>
		</div>
	</div>
    
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/3.3.4/js/bootstrap.min.js}"></script>
</body>
</html>
