<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${userX.name}+'\'s profile'"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head -->
    <link th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
    <link rel="stylesheet" type="text/css" href="../css/layout.css"/>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="collapsed navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-7" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand flexbox"><img class="img-circle" src="images/auge.jpg" width="30"/>Twitter
                Klon</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-7">
            <ul class="nav navbar-nav">
                <li><a href="/search">Search</a></li>
                <li><a href="/timeline">Timeline</a></li>
                <li class="active"><a href="/profile">Profile</a></li>
                <li><a href="/logout">Logout</a></li>

                <!--<form class="form" th:action="@{searchU}" method="post" th:object="${query}"  >
                    <div id="suchleiste">
                        <div class="input-group">
                            <input type="text" id="searchUser" class="form-control" placeholder="search..." th:field="*{data}"/>
                            <span class="input-group-btn">
                             <button id="searchbtn" class="btn btn-default" type="submit">Go</button>
                        </span>
                        </div>
                    </div>
                </form>-->
            </ul>
        </div>
    </div>
</nav>
<div class="container-content timeline-container-content">

    <div id="profile-user-id" style="display:none" th:text="${userX.id}"></div>

    <h3 class="title">Profile</h3>

    <div class="timeline-new-posts-info" title="There are new posts in your timeline!">!</div>

    <div class="userX">
        <table width="100%">
            <thead>
            <tr>
                <th colspan="2">
                    <img class="pull-left abstand-rechts img-circle" src="images/profilbild.png" width="90"/>
                    <p th:text="${userX.name}" />
                    <a th:href="'/searchFollowers?username=' + ${userX.name}"><button type="button" class="btn" th:text="'Follower: ' + ${followerNumber}"></button></a>
                    <a th:href="'/searchFollowed?username=' + ${userX.name}"><button type="button" class="btn " th:text="'Followed: ' + ${followedNumber}"> </button></a>

                    <button id="follow-button" th:user-id="${userX.id}" type="button" class="btn" th:if="${showFollowButton}">Follow</button>
                    <button id="unfollow-button" th:user-id="${userX.id}" type="button" class="btn" th:if="${showUnfollowButton}">Unfollow</button>
                </th>
            </tr>
            <tr>

            </tr>
            </thead>
        </table>
    </div>


    <div class="input-group">
        <input type="text" id="create-post-input" class="form-control" placeholder="Type your message..."/>
        <span class="input-group-btn">
          <button id="create-post-button" class="btn btn-default" type="button">Post</button>
        </span>
    </div>
    <h4>My Timeline</h4>
    <div class="timeline-container">
        <div class="timeline-canvas-container">
            <div class="timeline-canvas chronic"></div>
        </div>

        <script type="text/template" class="timeline-template">
            <div class="timeline-row" style="padding-bottom:20px">
                <div class="well" style="margin: 0">
                    <div class="media">

                        <div class="media-left">
                            <img class="pull-left abstand-rechts img-circle" src="../images/profilbild.png" width="40"/>
                        </div>
                        <div class="media-body timeline-post-body">
                            <h4 class="media-heading timeline-post-username"></h4>
                            <h6 class="media-heading timeline-post-time"></h6>
                            <p class="timeline-post-content"></p><br />
                            <a href="#0" class="timeline-post-edit-button">Edit</a>
                            <a href="#0" class="timeline-post-delete-button">Delete</a>
                        </div>

                    </div>
                </div>
            </div>
        </script>
    </div>
</div>


<script src="../javascript/sockjs.min.js"></script>
<script src="../javascript/stomp.min.js"></script>
<script src="../javascript/lodash.min.js"></script>
<script src="../javascript/jquery.min.js"></script>
<script src="../javascript/moment.min.js"></script>
<script src="../javascript/virtual-scroller.js"></script>
<script src="../javascript/profile-data-adapter.js"></script>
<script src="../javascript/timeline.js"></script>

</body>
</html>
