<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>create and save new userX</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head -->
    <link th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
    <link rel="stylesheet" type="text/css" href="../css/layout.css"/>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="collapsed navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-7" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand flexbox"><img class="img-circle" src="images/auge.jpg" width="30"/>Twitter
                Klon</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-7">
            <ul class="nav navbar-nav">
                <li><a href="#">Search</a></li>
                <li class="active"><a href="/timeline">Timeline</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/login">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-content">
    <h3 class="title">Global Timeline</h3>

    <div class="input-group">
        <input type="text" class="form-control" placeholder="Type your message..."/>
        <span class="input-group-btn">
              <button class="btn btn-default" type="button">Post</button>
            </span>
    </div>
    <div class="chronik">

        <div class="well">
            <div class="media">

                <div class="media-left">
                    <img class="pull-left abstand-rechts img-circle" src="../images/profilbild.png" width="40"/>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Hannelore Hotpink</h4>
                    <h6 class="media-heading">01.11.2016 18:00 Uhr</h6>
                    <p>Maunzerles Katzenschnupfen:
                        Katzenschnupfen ist eine Sammelbezeichnung für ansteckende Erkrankungen der Atemwege und der
                        Schleimhäute des Kopfes bei Katzen. Synonym verwendet werden die Bezeichnungen infektiöse
                        Katzenrhinitis, Katzenpneumonitis, cat flu und Rhinotracheitis infectiosa felis.

                        Es handelt sich hierbei also um einen Symptomkomplex, der durch unterschiedliche Erreger
                        hervorgerufen wird. Er betrifft Nase, Maulhöhle und Augen. Beteiligte Erreger sind verschiedene
                        Viren (Herpes- und Caliciviren) und Bakterien (Chlamydien, Bordetellen und Mykoplasmen). Da die
                        Erreger sich gegenseitig begünstigen und damit parallel auftreten können und Behandlung und
                        Bekämpfung dieser Erkrankungen etliche Gemeinsamkeiten aufweisen, ist diese Sammelbezeichnung
                        dennoch berechtigt.#maunzerleischkrank #gutebesserungmaunzerle #katzenschnupfen
                        #maunzerledupackstdas #ichliebemeinmaunzerle #schützteurekatzenvorkatzenschnupfen
                        #maunzerlehatsharterwischt #hatschiiiii #aufdersuchenachkatzentempos #richtigersherlock
                    </p>
                </div>

            </div>
        </div>

        <div class="well">
            <div class="media">

                <div class="media-left">
                    <img class="pull-left abstand-rechts img-circle" src="../images/profilbild.png" width="40"/>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Frederike Fuchsrot</h4>
                    <h6 class="media-heading">01.01.2015 21:30 Uhr</h6>
                    <p>Ein gemütlicher Abend mit der Familie ist doch einfach mal wieder schön #familyisthebest #iloveit
                        #kekseessen #sbäuchlefreutsich
                    </p>
                </div>

            </div>
        </div>

        <div class="well">
            <div class="media">

                <div class="media-left">
                    <img class="pull-left abstand-rechts img-circle" src="../images/profilbild.png" width="40"/>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Karl Karottenblau</h4>
                    <h6 class="media-heading">01.08.2014 23:00 Uhr</h6>
                    <p>Alle meine Entchen schwimmen auf dem See, schwimmen auf dem See, Köpfchen in das Wasser Schwänzchen
                        in die Höh' #blubbblubbblubb #schnatterschnatter #kinderlieder #ohrwurm #einfachimmerwiedertoll
                    </p>
                </div>

            </div>
        </div>

        <div class="well">
            <div class="media">

                <div class="media-left">
                    <img class="pull-left abstand-rechts img-circle" src="../images/profilbild.png" width="40"/>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Agnes Amarettobraun</h4>
                    <h6 class="media-heading">30.01.2013 17:89 Uhr</h6>
                    <p>Verkaufe mein neues E-Bike, ist in super Zustand, Farbe natürlich amarettobraun für leute bis 300 kg
                        auch für oldies geeignet meldet euch einfach bei mir dann können wir n kaffee trinken gehen und mal
                        ne runde fahren #Wettrennenmitferrari #ebikegewinnt #proschekannmirgarnichts #raceddenhügelhoch
                    </p>
                </div>

            </div>
        </div>

        <div class="well">
            <div class="media">

                <div class="media-left">
                    <img class="pull-left abstand-rechts img-circle" src="../images/profilbild.png" width="40"/>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Liselotte Leguanlolli</h4>
                    <h6 class="media-heading">07.12.2012 20:00 Uhr</h6>
                    <p>Der absolut geilste Reisetip Heian Jingu Shrine: Im Herzen Japans gelegen gehört Kyoto bei
                        Japantouristen fest ins Programm. Zu den Sehenswürdigkeiten der Stadt zählen der Kaiserpalast,
                        zahlreiche Tempel und Schreine sowie weitere berühmte und historische Stätten – 17 davon gehören
                        sogar zum UNESCO-Weltkulturerbe. Das macht Kyoto zu einem beliebten Reiseziel, das lebendige
                        Tradition und die Ästhetik des alten Japans vermittelt. Hier finden Sie zahlreiche traditionell
                        japanische Hotels und anspruchsvolle Gastronomie, in der Sie die raffinierte Küche von Kyoto
                        genießen können. Was Kyoto zu bieten hat, finden Sie sonst in keiner Stadt der Welt.
                        #travelaroundtheworld #asia #japan #besttimeever #takemeback
                    </p>
                </div>

            </div>
        </div>

        <div class="well">
            <div class="media">

                <div class="media-left">
                    <img class="pull-left abstand-rechts img-circle" src="../images/profilbild.png" width="40"/>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Gustav Gänseblümchengelb</h4>
                    <h6 class="media-heading">01.01.2011 20:00 Uhr</h6>
                    <p>Seit die Merkel drann ist,geht es berg ab mit deutschland..ichfinde es schade und hätte auch nie
                        gedacht ,das die meisten deutsche verlehrnt haben 1+1 zusammen zu zählen. Seit die merkel drann ist
                        wandelt sie deutschland zu alte ddr um. 1 Sie hat unser hauptstadt weggenommen,ohne uns zu fragen
                        und dann noch auf unsere kosten.2 haben wir für den aufbau der ddr zahlen durfen. und nicht mehr für
                        brd, dem entsprechen siet brd aus. 3 die ein euro jobs 4 rauchern mussten in gerennte raumen,dannach
                        total rauch verbot,obwohl wir genau soviel bezahlen wie die nichtrauchern. 5 in deutchland wohnen
                        50% turken.40% deutche und10% andere ausländer. 6 ist die kriminalität emmens gestiegen.wo 90%
                        turken sind.sogar im knast leben mehr turken als deutsche. 7 wollen die noch mehr ausländer nach
                        deutschland holen für arbeit #ichnickskonnendeutch
                    </p>
                </div>

            </div>
        </div>


    </div>


</div>
</body>
</html>
